<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= campground.title %></title>
</head>
<body>
    <h1>Edit <%= campground.title %></h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <p>
            <label for="title">Campground Name</label>
            <input type="text" id="title" name="campground[title]" value="<%= campground.title %>">
        </p>
        <p>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location %>">
        </p>
        <button>Add</button>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>
</body>
</html>