<% layout('layouts/boilerplate')%>
    <h1>Edit <%= campground.title %></h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <p>
            <label for="title">Campground Name</label>
            <input type="text" id="title" name="campground[title]" value="<%= campground.title %>">
        </p>
        <p>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location %>">
        </p>
        <p>
            <label for="price">Price</label>
            <input type="text" id="price" name="campground[price]" value="<%= campground.price %>">
        </p>
        <p>
            <label for="image">Location</label>
            <input type="text" id="image" name="campground[image]" value="<%= campground.image %>">
        </p>
        <p>
            <label for="description" class="form-label">Description</label>
            <textarea name="campground[description]" id="description" class="form-control" cols="30" rows="10" value="<%= campground.description %> "></textarea>
        </p>
        <button class="btn btn-success">Edit</button>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>